<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <header>
    <ul>
      <li>Test App</li>
      <li><a href="/signin">Sign in</a></s></li>
    </ul>
    <hr>
  </header>
  <body>
    <h2>Welcome to the test!</h2>
    <p>We are going to build a cool aplication using MVC framework! This application was built with the Village88 folks!</p>
    <a href="/signin">start</a>
  </body>
  <div class="content">
    <div class="right">
      <h3>Manage Users</h3>
        <p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
    </div>
    <div class="right">
      <h3>Manage Users</h3>
        <p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
    </div>
    <div class="right">
      <h3>Manage Users</h3>
        <p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
    </div>

  </div>
</html>
